<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhilo.kidneymonitor2">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zhilo.kidneymonitor2.MainActivity" />
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="select_device"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <service
            android:name=".ConnectionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".ParamActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".ProceduresActivity" />
        <activity android:name=".InstructionActivity" />
        <activity
            android:name=".AlertActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Selftest"></activity>
    </application>

</manifest>